.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Frecommenders%2Ffeeds%2Fide.rss
.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Fhome%2Feclipsenews.rss
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.2.20171007-0217.xml
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SwingChat/2017/11/47/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/SwingChat/2017/11/47/refactorings.history
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/767842954.index
.metadata/.plugins/org.eclipse.jdt.core/664140773.index
.metadata/.plugins/org.eclipse.jdt.core/61436394.index
.metadata/.plugins/org.eclipse.jdt.core/575557243.index
.metadata/.plugins/org.eclipse.jdt.core/3894941320.index
.metadata/.plugins/org.eclipse.jdt.core/3786438684.index
.metadata/.plugins/org.eclipse.jdt.core/3767767424.index
.metadata/.plugins/org.eclipse.jdt.core/3677362244.index
.metadata/.plugins/org.eclipse.jdt.core/3065053440.index
.metadata/.plugins/org.eclipse.jdt.core/2951431056.index
.metadata/.plugins/org.eclipse.jdt.core/289811613.index
.metadata/.plugins/org.eclipse.jdt.core/2688783450.index
.metadata/.plugins/org.eclipse.jdt.core/2509800163.index
.metadata/.plugins/org.eclipse.jdt.core/2365264807.index
.metadata/.plugins/org.eclipse.jdt.core/1470073441.index
.metadata/.plugins/org.eclipse.jdt.core/1408211338.index
.metadata/.plugins/org.eclipse.jdt.core/1321313603.index
.metadata/.plugins/org.eclipse.jdt.core/1101913381.index
.metadata/.plugins/org.eclipse.jdt.core/1063643129.index
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Client.launch
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/e4/bd/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/e4/35/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/e4/35/75/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SwingChat/.indexes/7/history.index
.metadata/.plugins/org.eclipse.core.resources/.history/b5/60437d0c3dcf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/7f/305d7a0c3dcf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/72/30f41dff3ccf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/50/00edd4153dcf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/4c/7034dafe3ccf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/41/109780293ccf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/30/f0e6952f3ccf0017141cd60bc442e4b0
.metadata/.plugins/org.eclipse.core.resources/.history/1c/8046972f3ccf0017141cd60bc442e4b0
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.lock
/ChatFrontEnd/dist/